* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.btn1 {
  width: 172px;
  height: 64px;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 8px;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 12px;
  padding: 8px 16px;
}
.btn1 span {
  color: #fff;
}

.octagon {
  width: 37px; /* Adjust the size as needed */
  height: 37px; /* Adjust the size as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.octagon svg {
  stroke-width: 2px;
  fill: #ebeaed;
  width: 40px;
  height: 40px;
  transition: 0.3s;
}
.octagon i {
  transition: 0.3s;
  color: #919eab;
  z-index: 1;
  font-size: 17px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.octagon:hover i {
  color: #fff;
}
.octagon:hover svg {
  fill: #fff;
}
.octagon.active svg {
  fill: rgba(220, 186, 149, 0.3960784314);
}
.octagon.active i {
  color: rgba(220, 186, 149, 0.3960784314);
}

.product-card {
  border-radius: 16px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #5a7184;
  gap: 5px;
  position: relative;
  overflow: hidden;
  transition: 0.2s all;
}
.product-card .overlay {
  transition: 0.5s;
  border-radius: 16px;
  background: rgba(45, 58, 74, 0.8);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  color: #fff;
  position: absolute;
  width: 100%;
  padding: 20px;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: -1;
}
.product-card .overlay span {
  color: #fff;
}
.product-card .overlay .head-icons {
  padding: 20px;
  position: absolute;
  top: 0px;
}
.product-card .overlay .center-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}
.product-card:hover .overlay {
  opacity: 1;
  z-index: 1;
}
.product-card span {
  color: 14px;
}
.product-card .head {
  margin-bottom: 8px;
}
.product-card .head span {
  color: rgba(220, 186, 149, 0.3960784314);
  padding: 4px 12px;
  background-color: #f9f4ee;
  text-align: center;
  border-radius: 8px;
}
.product-card .image {
  background-image: url("~/assets/images/product.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 190px;
  border-bottom: 1px solid #ebeaed;
}
.product-card .rate .star {
  font-size: 16px;
  color: #ecb43c;
}
.product-card h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: #2d3a4a;
}
.product-card .price .price-text {
  color: rgba(220, 186, 149, 0.3960784314);
  font-weight: bold;
  font-size: 16px;
}

h3 {
  color: #2d3a4a;
  font-size: 40px;
}

body,
html {
  overflow-x: clip;
}

body {
  background-color: #fafafa;
}

#list-profile {
  border-radius: 16px !important;
  background: #fff !important;
  box-shadow: 0px 16px 32px 0px rgba(113, 128, 150, 0.08) !important;
}

#mega-menu-id {
  padding: 30px !important;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 64px 100px 0px rgba(113, 128, 150, 0.16);
}
#mega-menu-id .box .image {
  width: 240px;
  height: 120px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mega-menu-id .box .image img {
  width: 88px;
  height: 88px;
}
#mega-menu-id .box .image.f1 {
  background-color: #e9d6bc;
}
#mega-menu-id .box .image.f2 {
  background-color: #f4f5fe;
}
#mega-menu-id .box .image.f3 {
  background-color: #e6f9fb;
}
#mega-menu-id .box .image.f4 {
  background-color: #fef4fb;
}
#mega-menu-id .box .text {
  text-align: center;
}
#mega-menu-id .box .text h6 {
  font-size: 18px;
  color: #2d3a4a;
}
#mega-menu-id .box .text .all {
  text-decoration: underline;
  color: #2d3a4a;
  font-size: 14px;
}
#mega-menu-id .box .text .links span {
  color: #5a7184;
  font-size: 14px;
}

.navbar {
  transition: all 0.4s;
  background-color: #fff;
  box-shadow: 0px 8px 24px 0px rgba(113, 128, 150, 0.04);
}
.navbar.active {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 55555;
}
.navbar .items-container {
  margin: 10px 0px;
}
.navbar .items-container.active {
  display: none !important;
}
.navbar .items-container .items {
  color: #5a7184;
}
.navbar .items-container .supp {
  color: #5a7184;
  cursor: pointer;
}
.navbar .items-container .supp i {
  font-size: 20px;
}
.navbar .search {
  background-color: #fafafa;
  width: 350px;
  height: 48px;
  border-radius: 10px;
}
.navbar .search .inp {
  margin-left: 10px;
  border-left: 1px solid #000;
}
.navbar .search input {
  border: none;
  outline: none;
}
.navbar .search .search-icon {
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  background: #dcba95;
}
.navbar .icons-with-profile .profile img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 4px solid #fff;
}
.footer-container {
  background-color: #fff;
  padding: 35px;
}
.footer-container span {
  font-size: 14px;
  color: #5a7184;
}
.footer-container .box-container {
  color: #5a7184;
}
.footer-container .box-container p {
  width: 323px;
}
.footer-container .box-container h6 {
  color: #2d3a4a;
  font-size: 16px;
  font-weight: 700;
}
.footer-container .box-container .head-link {
  font-size: 15px;
}
.footer-container .box-container .links .input {
  border-radius: 32px;
  border: 1px solid #ebeaed;
  width: 264px;
  height: 54px;
}
.footer-container .box-container .links .input input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 70%;
}
.footer-container i {
  color: #2d3a4a;
  font-size: 22px;
}

@media (max-width: 765px) {
  .footer-container .box-container {
    align-items: center;
    text-align: center;
    margin: 20px 0px;
  }
}
.hero-section {
  width: 100%;
}
.hero-section .box {
  width: 100%;
  height: 550px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 24px;
  padding: 20px 50px;
  opacity: 0.88;
  background-image: url("~/assets/images/banner.jpg");
  position: relative;
}
.hero-section .box .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.88;
  border-radius: 24px;
  background: linear-gradient(180deg, rgba(69, 86, 102, 0) 0%, rgba(55, 69, 83, 0.39) 19.12%, #212b36 77.72%);
}
.hero-section .box .text-container {
  display: flex;
  height: 100%;
  gap: 20px;
  z-index: 11;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
}
.hero-section .box .text-container .text {
  width: 60%;
}
.hero-section .swiper-pagination {
  display: flex;
  align-items: center;
  padding: 20px 50px;
}
.hero-section .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 5px;
  opacity: 0.38;
  background: #fff;
}
.hero-section .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 26px;
  opacity: 1;
}

.sections {
  margin-bottom: 50px;
}
.sections span {
  color: #fff;
}
.sections .box {
  width: 265px;
  height: 374px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  color: #fff;
  margin: 10px 0px;
}
.sections .box.f1 {
  background-image: url("~/assets/images/rec4.png");
}
.sections .box.f2 {
  background-image: url("~/assets/images/rec3.jpg");
}
.sections .box.f3 {
  background-image: url("~/assets/images/rec2.jpg");
}
.sections .box.f4 {
  background-image: url("~/assets/images/rec1.jpg");
}
.sections .box img {
  width: 160px;
}
.sections .box button {
  border-radius: 8px;
  padding: 8px 16px;
  border: 1px solid #fff;
}
.sections .box .type {
  font-weight: bold;
  font-size: 32px;
}

@media (max-width: 767px) {
  .sections .box {
    width: 100%;
  }
}
.offers {
  margin-bottom: 50px;
}
.offers .swiper {
  overflow: visible !important;
  padding: 65px 0px;
}
.offers span {
  color: #fff;
}
.offers .box {
  height: 418px;
  border-radius: 24px;
  padding: 24px;
  position: relative;
}
.offers .box .main-img {
  background-position: center;
  background-size: cover;
  width: 550px;
  background-repeat: no-repeat;
  background-image: url("~/assets/images/offer-pic.png");
}
.offers .box.main {
  background: linear-gradient(248deg, #212339 -60.76%, #09132c -32.78%, #1c222f 6.24%, #313b51 49.31%, #272e3d 122.2%, #626a7e 139.04%);
}
.offers .box.main .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 24px;
  z-index: -1;
  background-image: url("~/assets/images/offer-bc.png");
  background-size: cover;
}
.offers .box.f1 {
  background-image: url("~/assets/images/offer1.png");
  background-position: center;
  background-size: cover;
}
.offers .box.f1 .main-img {
  background-image: url("~/assets/images/gift.png");
}
.offers .box.f2 {
  background-image: url("~/assets/images/offer2.png");
}
.offers .box.f2 .main-img {
  background-image: url("~/assets/images/gift.png");
}
.offers .box .text-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 60px;
  color: #fff;
  flex-direction: column;
  height: 100%;
  position: relative;
}
.offers .box .text-container .circle {
  position: absolute;
  width: 321px;
  height: 321px;
  transform: rotate(-30deg);
  left: 50px;
  top: 0px;
}
.offers .box .text-container .circle img {
  width: 100%;
  height: 100%;
}
.offers .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.offers .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 5px;
  opacity: 0.38;
  background: #2d3a4a;
}
.offers .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 26px;
  opacity: 1;
}

.categories {
  margin-top: 60px;
  margin-bottom: 60px;
}
.categories .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.categories .text h2 {
  color: #2d3a4a;
  font-size: 40px;
}
.categories .text p {
  padding: 10px 0px;
  color: #5a7184;
  width: 50%;
  font-size: 15px;
}
.categories .swiper {
  padding-bottom: 50px;
  overflow-y: visible !important;
}
.categories .swiper-button-prev,
.categories .swiper-button-next {
  top: -19%;
  text-align: center;
}
.categories .swiper-button-prev::after,
.categories .swiper-button-next::after {
  font-size: 20px;
  color: #2d3a4a;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px 15px;
  text-align: center;
}
.categories .swiper-button-prev {
  left: 100px !important;
  right: auto !important;
}
.categories .box {
  width: 192px;
  height: 167.439px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  gap: 10px;
  color: #5a7184;
}
.categories .box span {
  font-size: 20px;
}
.categories .box .image {
  background-color: #fafafa;
  border-radius: 50%;
  width: 72px;
  height: 71.187px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-products .header .types .choose {
  color: #5a7184;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.our-products .more {
  text-decoration: underline;
  color: #2d3a4a;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 35px 0px;
}
.our-products .v-btn {
  color: #5a7184;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.our-products .v-btn .v-btn__content {
  position: relative;
}
.our-products .v-btn .v-btn__content svg {
  position: absolute;
  height: 7px;
  width: 44px;
  right: 0;
  bottom: -9px;
  display: none;
}
.our-products .v-btn.v-slide-group-item--active {
  color: rgba(220, 186, 149, 0.3960784314) !important;
  font-weight: bold;
}
.our-products .v-btn.v-slide-group-item--active .v-tab__slider {
  display: none;
}
.our-products .v-btn.v-slide-group-item--active .v-btn__content svg {
  display: block;
}
.our-products .v-btn .v-btn__overlay {
  display: none;
}
.our-products .v-btn :hover {
  background-color: transparent;
}

.banner-container {
  border-radius: 24px;
  background: #fff;
  position: relative;
  padding: 20px;
  margin-bottom: 50px;
  min-height: 595px;
}
.banner-container .overlay-background {
  position: absolute;
  width: 364px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11;
  border-radius: 20px 0px 0px 20px;
  background: linear-gradient(180deg, #8952ff 0%, #aa8ee5 100%);
}
.banner-container .overlay-background .text {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 70px;
}
.banner-container .overlay-background .text h4 {
  font-size: 32px;
}
.banner-container .overlay-background img {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.banner-container .overlay-background.f2 {
  background: linear-gradient(180deg, #8952ff 0%, #aa8ee5 100%);
}
.banner-container .swiper {
  overflow-y: visible !important;
}
.banner-container .swiper-button-prev,
.banner-container .swiper-button-next {
  top: -13%;
  text-align: center;
}
.banner-container .swiper-button-prev::after,
.banner-container .swiper-button-next::after {
  font-size: 20px;
  color: #2d3a4a;
  color: #919eab;
  background-color: #fafafa;
  border-radius: 50%;
  padding: 10px 15px;
  text-align: center;
}
.banner-container .swiper-button-prev {
  right: 20px !important;
}
.banner-container .swiper-button-next {
  right: 100px !important;
}

.brands-container {
  background: linear-gradient(248deg, #212339 -60.76%, #09132c -32.78%, #1c222f 6.24%, #313b51 49.31%, #272e3d 122.2%, #626a7e 139.04%);
  color: #fff;
  padding: 65px 25px;
  margin-bottom: 80px;
  gap: 15px;
  position: relative;
}
.brands-container .overlay-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-image: url("~/assets/images/offer-bc.png");
  background-size: cover;
}
.brands-container span,
.brands-container h3,
.brands-container p,
.brands-container button {
  z-index: 4;
}
.brands-container span,
.brands-container p {
  text-align: center;
}
.brands-container .text h3 {
  color: #fff;
}
.brands-container .swiper {
  z-index: 2;
  margin: 100px 0px;
  overflow: visible;
}
.brands-container .swiper .swiper-slide {
  z-index: 2;
}
.brands-container .swiper .swiper-slide img {
  opacity: 0.6;
}
.brands-container .swiper .swiper-slide.swiper-slide-active {
  transform: scale(1.4);
}
.brands-container .swiper .swiper-slide.swiper-slide-active img {
  opacity: 1;
}

.chart-div {
  margin-bottom: 50px;
}
.chart-div .chart-container {
  border-radius: 24px;
  background: #fff;
  padding: 15px;
}

.gift-container {
  margin-bottom: 60px;
  background-image: url("~/assets/images/background1.png");
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  position: relative;
  padding: 45px;
}
.gift-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.96;
  background: linear-gradient(169deg, rgba(69, 86, 102, 0) -39.42%, rgba(55, 69, 83, 0.39) -39.42%, #212b36 173.07%);
}
.gift-container .text h3,
.gift-container .text p {
  color: #fff;
  z-index: 111;
}
.gift-container .box-container {
  z-index: 11;
  min-height: 173px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}
.gift-container .box-container .box {
  width: 465px;
  z-index: 111;
  padding: 20px;
  height: 100%;
  border-radius: 16px;
  border: 1px solid #fff;
  color: #fff;
  position: relative;
}
.gift-container .box-container .box.active {
  right: 55px;
}

@media (max-width: 1000px) {
  .gift-container .box-container .box {
    width: 100%;
  }
  .gift-container .box-container .box.active {
    right: 0px;
  }
}
.info-container {
  margin-bottom: 60px;
}
.info-container .cover-box {
  position: relative;
}
.info-container .cover-box .cover {
  position: absolute;
  top: 0;
  z-index: -1;
  right: -60px;
}
.info-container .img-box {
  position: relative;
  border-radius: 24px;
  width: 520px;
}
.info-container .img-box .image {
  width: 100%;
  border-radius: 24px;
  background: linear-gradient(200deg, rgba(69, 86, 102, 0) 0.62%, rgba(55, 69, 83, 0.39) 0.62%, #212b36 144.59%);
  position: relative;
}
.info-container .img-box .image .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 24px;
  opacity: 0.56;
  background: linear-gradient(200deg, rgba(69, 86, 102, 0) 0.62%, rgba(55, 69, 83, 0.39) 0.62%, #212b36 144.59%);
}
.info-container .img-box img {
  width: 100%;
  border-radius: 24px;
}

@media (max-width: 1000px) {
  .info-container .img-box {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */