* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.btn1 {
  width: 172px;
  height: 64px;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 8px;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 12px;
  padding: 8px 16px;
}

h3 {
  color: #2d3a4a;
  font-size: 40px;
}

body,
html {
  overflow-x: clip;
}

body {
  background-color: #fafafa;
}

#list-profile {
  border-radius: 16px !important;
  background: #fff !important;
  box-shadow: 0px 16px 32px 0px rgba(113, 128, 150, 0.08) !important;
}

.navbar {
  background-color: #fff;
  box-shadow: 0px 8px 24px 0px rgba(113, 128, 150, 0.04);
}
.navbar .items-container {
  margin: 10px 0px;
}
.navbar .items-container .supp {
  color: #5a7184;
  cursor: pointer;
}
.navbar .items-container .supp i {
  font-size: 20px;
}
.navbar .search {
  background-color: #fafafa;
  width: 350px;
  height: 48px;
  border-radius: 10px;
}
.navbar .search .inp {
  margin-left: 10px;
  border-left: 1px solid #000;
}
.navbar .search input {
  border: none;
  outline: none;
}
.navbar .search .search-icon {
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  background: #dcba95;
}
.navbar .icons-with-profile .profile img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 4px solid #fff;
}

.hero-section {
  width: 100%;
}
.hero-section .box {
  width: 100%;
  height: 550px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 24px;
  padding: 20px 50px;
  opacity: 0.88;
  background-image: url("~/assets/images/banner.jpg");
  position: relative;
}
.hero-section .box .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.88;
  border-radius: 24px;
  background: linear-gradient(180deg, rgba(69, 86, 102, 0) 0%, rgba(55, 69, 83, 0.39) 19.12%, #212b36 77.72%);
}
.hero-section .box .text-container {
  display: flex;
  height: 100%;
  gap: 20px;
  z-index: 11;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
}
.hero-section .box .text-container .text {
  width: 60%;
}
.hero-section .swiper-pagination {
  display: flex;
  align-items: center;
  padding: 20px 50px;
}
.hero-section .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 5px;
  opacity: 0.38;
  background: #fff;
}
.hero-section .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 26px;
  opacity: 1;
}

.sections {
  margin-bottom: 50px;
}
.sections .box {
  width: 265px;
  height: 374px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  color: #fff;
  margin: 10px 0px;
}
.sections .box.f1 {
  background-image: url("~/assets/images/rec4.png");
}
.sections .box.f2 {
  background-image: url("~/assets/images/rec3.jpg");
}
.sections .box.f3 {
  background-image: url("~/assets/images/rec2.jpg");
}
.sections .box.f4 {
  background-image: url("~/assets/images/rec1.jpg");
}
.sections .box img {
  width: 160px;
}
.sections .box button {
  border-radius: 8px;
  padding: 8px 16px;
  border: 1px solid #fff;
}
.sections .box .type {
  font-weight: bold;
  font-size: 32px;
}

@media (max-width: 767px) {
  .sections .box {
    width: 100%;
  }
}
.offers {
  margin-bottom: 50px;
}
.offers .swiper {
  overflow: visible !important;
  padding: 65px 0px;
}
.offers .box {
  height: 418px;
  border-radius: 24px;
  padding: 24px;
  position: relative;
}
.offers .box .main-img {
  background-position: center;
  background-size: cover;
  width: 550px;
  background-repeat: no-repeat;
}
.offers .box.main {
  background: linear-gradient(248deg, #212339 -60.76%, #09132c -32.78%, #1c222f 6.24%, #313b51 49.31%, #272e3d 122.2%, #626a7e 139.04%);
}
.offers .box.main .main-img {
  background-image: url("~/assets/images/offer-pic.png");
}
.offers .box.main .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 24px;
  z-index: -1;
  background-image: url("~/assets/images/offer-bc.png");
  background-size: cover;
}
.offers .box.f1 {
  background-image: url("~/assets/images/offer1.png");
  background-position: center;
  background-size: cover;
}
.offers .box.f1 .main-img {
  background-image: url("~/assets/images/gift.png");
}
.offers .box.f2 {
  background-image: url("~/assets/images/offer2.png");
}
.offers .box.f2 .main-img {
  background-image: url("~/assets/images/gift.png");
}
.offers .box .text-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 60px;
  color: #fff;
  flex-direction: column;
  height: 100%;
  position: relative;
}
.offers .box .text-container .circle {
  position: absolute;
  width: 321px;
  height: 321px;
  transform: rotate(-30deg);
  left: 20px;
  top: 10px;
}
.offers .box .text-container .circle img {
  width: 100%;
  height: 100%;
}
.offers .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.offers .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 5px;
  opacity: 0.38;
  background: #2d3a4a;
}
.offers .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 26px;
  opacity: 1;
}

.categories {
  margin-top: 60px;
  margin-bottom: 60px;
}
.categories .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.categories .text h2 {
  color: #2d3a4a;
  font-size: 40px;
}
.categories .text p {
  padding: 10px 0px;
  color: #5a7184;
  width: 50%;
  font-size: 15px;
}
.categories .swiper {
  padding-bottom: 50px;
  overflow-y: visible !important;
}
.categories .swiper-button-prev, .categories .swiper-button-next {
  top: -19%;
  text-align: center;
}
.categories .swiper-button-prev::after, .categories .swiper-button-next::after {
  font-size: 20px;
  color: #2d3a4a;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px 15px;
  text-align: center;
}
.categories .swiper-button-prev {
  left: 100px !important;
  right: auto !important;
}
.categories .box {
  width: 192px;
  height: 167.439px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FFF;
  gap: 10px;
  color: #5a7184;
}
.categories .box span {
  font-size: 20px;
}
.categories .box .image {
  background-color: #fafafa;
  border-radius: 50%;
  width: 72px;
  height: 71.187px;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */