// start color and layouts
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

$main-bg: #fafafa;
$text-color: #5a7184;
$primary: #dcba95;
$primary: #dcba9565;
$primary-light: #f9f4ee;
$secondary-black: #2d3a4a;
$body-text: #5a7184;
$body-text2: #959ead;
$icons: #919eab;
$border-color: #ebeaed;
$red-color: #b1628c;
$red-bg: #f5ecf1;
$rating-bg: #ecb43c;

// end color and layouts

// start common classes and components
.btn1 {
  width: 172px;
  height: 64px;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 8px;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 12px;
  padding: 8px 16px;
  span{
    color: #fff;
  }
}
// span{
//   font-size: 14px;
//   color: $text-color;
// }

// start octagon shape
.octagon {
  width: 37px; /* Adjust the size as needed */
  height: 37px; /* Adjust the size as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  svg {
    // stroke: $border-color;
    stroke-width: 2px;
    fill: #ebeaed;
    width: 40px;
    height: 40px;
    transition: 0.3s;
    // clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  }
  i {
    transition: 0.3s;
    color: $icons;
    z-index: 1;
    font-size: 17px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    i {
      color: #fff;
    }
    svg {
      fill: #fff;
    }
  }

  &.active {
    svg {
      fill: $primary;
    }
    i {
      color: $primary;
    }
  }
}

// end octagon shape

// start product card

.product-card {
  border-radius: 16px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: $text-color;
  gap: 5px;
  position: relative;
  overflow: hidden;
  transition: 0.2s all;
  .overlay {
    transition: 0.5s;
    border-radius: 16px;
    background: rgba(45, 58, 74, 0.8);
    backdrop-filter: blur(2px);
    color: #fff;
    position: absolute;
    width: 100%;
    padding: 20px;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: -1;
    span{
      color: #fff;
    }
    .head-icons {
      padding: 20px;
      position: absolute;
      top: 0px;
    }
    .center-icons {
      // position: absolute;
      // top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      flex-direction: column;
    }
  }
  &:hover {
    .overlay {
      opacity: 1;
      z-index: 1;
    }
  }
  span {
    color: 14px;
  }
  .head {
    margin-bottom: 8px;
    span {
      color: $primary;
      padding: 4px 12px;
      background-color: $primary-light;
      text-align: center;
      border-radius: 8px;
    }
  }
  .image {
    background-image: url("~/assets/images/product.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 190px;
    //  padding-bottom: 10px;
    border-bottom: 1px solid $border-color;
  }

  .rate {
    .star {
      font-size: 16px;
      color: $rating-bg;
    }
  }
  h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: $secondary-black;
  }
  .price {
    .price-text {
      color: $primary;
      font-weight: bold;
      font-size: 16px;
    }
  }
}

// end product card

h3 {
  color: $secondary-black;
  font-size: 40px;
}

body,
html {
  overflow-x: clip;
}
body {
  background-color: $main-bg;
}

// end common classes and components

// start dropdowns
#list-profile {
  border-radius: 16px !important;
  background: #fff !important;
  box-shadow: 0px 16px 32px 0px rgba(113, 128, 150, 0.08) !important;
}
// end dropdowns

// start navbar and footer
.navbar {
  background-color: #fff;
  box-shadow: 0px 8px 24px 0px rgba(113, 128, 150, 0.04);
  .items-container {
    margin: 10px 0px;
    .supp {
      color: $text-color;
      cursor: pointer;
      i {
        font-size: 20px;
      }
    }
  }
  .search {
    background-color: $main-bg;
    width: 350px;
    height: 48px;
    border-radius: 10px;
    .inp {
      margin-left: 10px;
      border-left: 1px solid #000;
    }
    input {
      border: none;
      outline: none;
    }
    .search-icon {
      padding: 8px;
      border-radius: 8px;
      cursor: pointer;
      color: #fff;
      background: #dcba95;
    }
  }
  .icons-with-profile {
    .profile {
      img {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        border: 4px solid #fff;
      }
    }
  }
}

// ---------------------------------------------------------------------

.footer-container{
  background-color: #fff;
  padding: 35px;
  .box-container{
    color: $body-text;
    p{
      width: 323px;
    }
    h6{
      color: $secondary-black;
      font-size: 16px;
    font-weight: 700;
    }
    .head-link{
      font-size: 14px;
    }
    .links{
     .input{
      border-radius: 32px; 
     border: 1px solid  #EBEAED;
     width: 264px;
     height: 54px;
     input{
      background-color: transparent;
      border: none;
      outline: none;
      width: 70%;
     }
     }
    }
  }
  i{
   color: $secondary-black;
   font-size: 22px; 
  }
}


@media(max-width: 765px){
  .footer-container{
  .box-container{
    align-items: center;
    text-align: center;
    margin: 20px 0px;
  }
  }
}

// end navbar and footer




//start hero section

.hero-section {
  width: 100%;
  .box {
    width: 100%;
    height: 550px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 24px;
    padding: 20px 50px;
    opacity: 0.88;
    //   background: linear-gradient(180deg, rgba(69, 86, 102, 0.00) 0%, rgba(55, 69, 83, 0.39) 19.12%, #212B36 77.72%) , url('~/assets/images/banner.jpg');
    background-image: url("~/assets/images/banner.jpg");
    position: relative;
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0.88;
      border-radius: 24px;
      background: linear-gradient(180deg, rgba(69, 86, 102, 0) 0%, rgba(55, 69, 83, 0.39) 19.12%, #212b36 77.72%);
    }
    .text-container {
      display: flex;
      height: 100%;
      // padding: 20px;
      gap: 20px;
      z-index: 11;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      color: #fff;
      .text {
        width: 60%;
      }
      button {
      }
    }
  }

  .swiper-pagination {
    display: flex;
    align-items: center;
    padding: 20px 50px;
    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      border-radius: 5px;
      opacity: 0.38;
      background: #fff;
      &.swiper-pagination-bullet-active {
        height: 26px;
        opacity: 1;
      }
    }
  }
}

// end hero section

// start sections
.sections {
  margin-bottom: 50px;
 span{
  color: #fff;
 }
  .box {
    width: 265px;
    height: 374px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    color: #fff;
    margin: 10px 0px;
    &.f1 {
      background-image: url("~/assets/images/rec4.png");
    }
    &.f2 {
      background-image: url("~/assets/images/rec3.jpg");
    }
    &.f3 {
      background-image: url("~/assets/images/rec2.jpg");
    }
    &.f4 {
      background-image: url("~/assets/images/rec1.jpg");
    }
    img {
      width: 160px;
    }
    button {
      border-radius: 8px;
      padding: 8px 16px;
      border: 1px solid #fff;
    }
    .type {
      font-weight: bold;
      font-size: 32px;
    }
  }
}

@media (max-width: 767px) {
  .sections {
    .box {
      width: 100%;
    }
  }
}
// end sections

// start offers section
.offers {
  margin-bottom: 50px;
  .swiper {
    overflow: visible !important;
    padding: 65px 0px;
  }
  span{
    color: #fff;
  }
  .box {
    height: 418px;
    border-radius: 24px;
    padding: 24px;
    position: relative;
    .main-img {
      background-position: center;
      background-size: cover;
      width: 550px;
      // height: 00px !important;
      background-repeat: no-repeat;
      background-image: url('~/assets/images/offer-pic.png');
    }
    &.main {
      background: linear-gradient(
        248deg,
        #212339 -60.76%,
        #09132c -32.78%,
        #1c222f 6.24%,
        #313b51 49.31%,
        #272e3d 122.2%,
        #626a7e 139.04%
      );
      .main-img {
        // background-image: url("~/assets/images/offer-pic.png");
      }
      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        border-radius: 24px;
        z-index: -1;
        background-image: url("~/assets/images/offer-bc.png");
        background-size: cover;
      }
      
    }
    &.f1 {
      background-image: url("~/assets/images/offer1.png");
      background-position: center;
      background-size: cover;
      .main-img {
        background-image: url("~/assets/images/gift.png");
      }
    }
    &.f2 {
      background-image: url("~/assets/images/offer2.png");
      .main-img {
        background-image: url("~/assets/images/gift.png");
      }
    }
    .text-container {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 60px;
      color: #fff;
      flex-direction: column;
      height: 100%;
      position: relative;
      .circle {
        position: absolute;
        width: 321px;
        height: 321px;
        transform: rotate(-30deg);
        left: 50px;
        top: 0px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .text {
        // width: 60%;
      }
      button {
      }
    }
  }

  .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 20px 50px;
    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      border-radius: 5px;
      opacity: 0.38;
      background: $secondary-black;
      &.swiper-pagination-bullet-active {
        height: 26px;
        opacity: 1;
      }
    }
  }
}

// end offers section

// start categories and group section
.categories {
  margin-top: 60px;
  margin-bottom: 60px;
  .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2 {
      color: $secondary-black;
      font-size: 40px;
    }
    p {
      padding: 10px 0px;
      color: $body-text;
      width: 50%;
      font-size: 15px;
    }
  }
  .swiper {
    padding-bottom: 50px;
    // overflow-x: hidden !important;
    overflow-y: visible !important;
  }
  .swiper-button-prev,
  .swiper-button-next {
    top: -19%;
    text-align: center;
    &::after {
      font-size: 20px;
      color: $secondary-black;
      background-color: #fff;
      border-radius: 50%;
      padding: 10px 15px;
      text-align: center;
    }
  }
  .swiper-button-prev {
    left: 100px !important;
    right: auto !important;
  }
  .box {
    width: 192px;
    height: 167.439px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    gap: 10px;
    color: $body-text;
    span {
      font-size: 20px;
    }
    .image {
      background-color: $main-bg;
      border-radius: 50%;
      width: 72px;
      height: 71.187px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .swiper-button-prev {
  }
}
// end categories and group section


// start our product section 
.our-products {
  .header {
    .types {
      .choose {
        color: $text-color;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
      }
      
      
    }
  }
  .more {
    text-decoration: underline;
    color: $secondary-black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 35px 0px;
  }
  .v-btn {
    color: $text-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    .v-btn__content {
      position: relative;
      svg {
        position: absolute;
        height: 7px;
        width: 44px;
        right: 0;
        bottom: -9px;
        display: none;
      }
    }
    &.v-slide-group-item--active {
      color: $primary !important;
      font-weight: bold;
      .v-tab__slider {
        display: none;
      }
      .v-btn__content {
        svg {
          display: block;
        }
      }
    }
    .v-btn__overlay {
      display: none;
    }
    :hover {
      background-color: transparent;
    }
  }
}

// end our product section


// start banner-container section

.banner-container{
  border-radius: 24px;
background: #FFF;
position: relative;
padding: 20px;
margin-bottom: 50px;
min-height:595px;
.overlay-background{
  position: absolute;
  width: 364px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11;
  border-radius: 20px 0px 0px 20px;
background: linear-gradient(180deg, #8952FF 0%, #AA8EE5 100%);
.text{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 70px;
  h4{
  font-size: 32px;
  }
}
img{
  width: 100%;
  position: absolute;
  bottom: 0;
}
&.f2{
background: linear-gradient(180deg, #8952FF 0%, #AA8EE5 100%);
}
}
 
.swiper{
    overflow-y: visible !important;
  }
  .swiper-button-prev,
  .swiper-button-next {
    top: -13%;
    text-align: center;
    &::after {
      font-size: 20px;
      color: $secondary-black;
      color: #919eab;
      background-color: #fafafa;
      border-radius: 50%;
      padding: 10px 15px;
      text-align: center;
    }
    .swiper-button-disabled{

    }
  }
  .swiper-button-prev {
    right: 20px !important;
    // right: auto !important;
  }
  .swiper-button-next {
    right: 100px !important;
    // right: auto !important;
  }

}

// end banner-container section 



// start brands section

.brands-container{
  background: linear-gradient(248deg, #212339 -60.76%, #09132C -32.78%, #1C222F 6.24%, #313B51 49.31%, #272E3D 122.2%, #626A7E 139.04%);
  color: #fff;
  padding: 65px 25px;
  margin-bottom: 80px;
  gap: 15px;
  // z-index: -1;
  position: relative;

  .overlay-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-image: url("~/assets/images/offer-bc.png");
    background-size: cover;
  }
   span , h3 , p , button{
    z-index: 4;
  }
  span ,p{
    text-align: center;
  }

  .text{
      h3{
    color: #fff;
  }
 
}
.swiper{
  z-index: 2;
  margin: 100px 0px;
  overflow: visible;
  .swiper-slide{
    z-index: 2;
    img{
      opacity: 0.6;
    }
    &.swiper-slide-active{
       transform: scale(1.4);
      img{
  opacity: 1;
      }
    }
  }
}  
}
// end brands section 



// start chart section

.chart-div{
 margin-bottom: 50px;
  .chart-container{
    border-radius: 24px;
background: #FFF;
padding: 15px;
  }
}

// end chart section 




// start gift-container section
.gift-container{
  margin-bottom: 60px;
  // height: 600px;
  background-image: url('~/assets/images/background1.png');
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
   position: relative;
   padding: 45px;
  .overlay{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   height: 100%;
   opacity: 0.96;
background: linear-gradient(169deg, rgba(69, 86, 102, 0.00) -39.42%, rgba(55, 69, 83, 0.39) -39.42%, #212B36 173.07%);
  }
  .text{
   h3 , p{
    color: #fff;
  z-index: 111;
  }
  }
   .box-container{
    z-index: 11;
    min-height: 173px;
    display: flex;
    align-items: center;
    justify-content: center;
    .box{
      width: 465px;
      z-index: 111;
      padding: 20px;
      height: 100%;
      border-radius: 16px;
border: 1px solid #FFF;
color: #fff;
position: relative;
&.active{
 right: 55px;
}
    }
    margin: 20px 0px;
   }
}


@media(max-width:1000px){
  .gift-container{
    .box-container{
      .box{
        width: 100%;
        &.active{
          right: 0px;
        }
      }
    }
  }
}
// end gift-container section



// start info-container section

.info-container{
  margin-bottom: 60px;
  .img-box{
    position: relative;
    border-radius: 24px;
    width: 520px;
    .overlay-bg{

    }
    .image{
      width: 100%;
    border-radius: 24px;
      // opacity: 0.56;
      background: linear-gradient(200deg, rgba(69, 86, 102, 0.00) 0.62%, rgba(55, 69, 83, 0.39) 0.62%, #212B36 144.59%);
      position: relative;
      .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        border-radius: 24px;
        opacity: 0.56;
        background: linear-gradient(200deg, rgba(69, 86, 102, 0.00) 0.62%, rgba(55, 69, 83, 0.39) 0.62%, #212B36 144.59%);
      }
    }
    img{
      width: 100%;
      border-radius: 24px;

    }
  }
}


@media(max-width:1000px){
  .info-container{
    .img-box{
      width: 100%;
    }
  }
}

// end info-container section 